body {
  background-color: black;
}
.container {
  background-color: white;
}
.red {
  color: red;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.red ~ p {
  color: black;
  font-weight: 550;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#sec1 {
  display: flex;
  flex-wrap: wrap;
}
#sec1 > div {
  margin: auto;
}
p {
  margin: 10px;
}
span {
  margin: 10px;
}
button {
  display: flex;
  justify-content: center;
  height: 35px;
  padding: 1%;
  margin-left: 44%;
  background-color: red;
  color: white;
  margin-top: 10px;
}
#sec2 > p {
  color: red;
  font-size: 15px;
}
#sec2 {
  text-align: center;
  width: 60%;
  margin: auto;
}
h4 {
  color: black;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}
#sec3 {
  width: 100%;
  height: auto;
}
.text {
  width: 22%;
  height: auto;
  float: left;
}
.p1 {
  grid-area: a;
}
.p2 {
  grid-area: b;
}
.p3 {
  grid-area: c;
}
.p4 {
  grid-area: d;
}
.p5 {
  grid-area: e;
}
.p6 {
  grid-area: f;
}
.feature {
  display: grid;
  padding: 3%;
  grid-gap: 15px;
  justify-content: center;
}
.logo {
  float: left;
}
.text > p {
  width: 190px;
}
@media only screen and (max-width: 768px) {
  .feature {
    grid-template:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
    grid-column: 80%;
    grid-area: auto auto auto auto auto auto;
  }
}
@media only screen and (min-width: 768px) {
  .feature {
    grid-template:
      "a b"
      "c d"
      "e f";
    grid-template-columns: 42% 42%;
    grid-template-rows: auto auto auto;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 80%;
    margin: auto;
  }
  .feature {
    grid-template:
      "a b c"
      "d e f";
    grid-template-rows: 160px 160px;
    grid-template-columns: 27% 27% 27%;
  }

  .text > p {
    width: 140px;
  }
}
